<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 list-group">
        <a *ngFor="let recipe of recipes" href="#" class="list-group-item clearfix">
            <div class="float-sm-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
                <span class="float-sm-right">
                    <img src="{{recipe.imagePath}}" alt="" class="img-responsive" style="max-height:50px;">
                </span>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
